* {
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 20, 20);
}

h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 90px;
    color: rgba(13, 245, 168, 0.952);
    font-family: 'Lobster',cursive;
}

h3 {
    font-size: 30px;
    text-align: center;
    color: rgba(13, 245, 168, 0.952);
    font-family: 'Lobster',cursive;
}

.image {
    display: flex;
    justify-content: space-evenly;
}

img {
    border-radius: 30%;
}